* {
    box-sizing: border-box;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa4;
    background-color: #ffffff;
    padding: 10px;
    float: left;
    line-height: 30px;
}

#content1 {
    margin-top: 0px;
    float: left;
    padding: 10px;
}

#content2 {
    margin-top: -28px;
    margin-left: 10px;
    line-height: 30px;
    color:#4aaaa5;
}

.wrapper {
    width:960px;
    padding: 0px;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color:#ffffff;
    width: 240px;
    border-bottom: 2px;
    border-bottom-color: #4aaaa5;
    text-align:center;
    padding: 1px;
}

.header2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 2px;
    padding: 5px;
    border-bottom-color: #4aaaa5;
}

.nav {
    position: absolute;
    top: 30px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-color: #4aaaa5;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.box {
    width: 960px;
}

.img-container {
    position: relative;
    float:left;
    width: 50%;
    /*padding: 5px;*/
}

.label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 80px;
    width: 300px;
    background-color: #4aaaa5;
    line-height: 40px;
    font-size: 25px;
    color: white;
    text-align: center;
}